# VITE_RPC_URL=http://127.0.0.1:8899
# Для devnet:
# VITE_RPC_URL=https://api.devnet.solana.com

# VITE_PROGRAM_ID=FZ2WxC1EjKQQxZxc2EGGWRu5JiPvu5eGtMgUoT8XjT2D
# VITE_TOKEN_MINT=CQRGsYL2ntzGVboKcBhzPfrNCVaJeGHtHNrvqGefKqMX
